.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 4;
}
.name {
  font-weight: 700;
  margin-right: 12px;
}

.user_name {
  color: #2196f3;
}

.button {
  display: flex;
  align-items: center;
  padding: 5px 9px;
  font-size: 14px;

  font-weight: 700;
  border: solid #2196f3;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    border: solid #2196f3;
    background: #2196f3;
    color: #fff;
  }
}
